DB_USER=user
DB_PASS=password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=delivery_db
DB_ROOT_PASS=password

REDIS_HOST=localhost
REDIS_PORT=6379

USD_RATE_SOURCE="https://www.cbr-xml-daily.ru/daily_json.js"
